* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;

}
    
.topbar{
    padding-left: 100px;
    padding-right: 100pt;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.wrapper{
    width: 1280px;
    display: block;
    margin: auto;
}
    
.header{
    height: 600px;
    padding: 70px 100px;
    background-color: #F7F5FD;
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header img{
    border-radius: 10px;
    width: 500px;
    height: 460px;
}
    

.topbar * {
    display: inline-block;
}

.topbar {
    display: flex;
    padding-left: 100px ;
    padding-right: 100px;

}

.nav {
    line-height: 54px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.nav .signup{
    width: 68px;
    height: 33px;
    margin-right: 30px;
}

.nav .login {
    width: 153px;
    height: 54px;
    background-color:  #3366FF;
    border-radius: 10px;
}



.header-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 466px;
    height: 402px;
    position: relative;
}

.header-frame-title p {
    font-weight: 600;
    line-height: 90px;
    font-size: 80px;
    color: #2D2D2D;
    font-style: normal;    
}

.header-frame-title {
    margin-bottom: 30px;
}

.header-frame-subtitle p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    color: #2D2D2D;
    opacity: 0.5;
}

.header-frame-button {
    background-color: #F8D57E;
    width: 203px;
    height: 64px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.header-frame-button a {
    color: #2D2D2D;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.content-video {
    height: 600px;
    background-color: #F2FAF8;
    padding-top: 70px;
}

.content-video img {
    display: block;
    margin: auto;
}

.content-logo {
    height: 200px;
    background-color: #FFFFFF;
    padding-top: 80px;
}

.content-logo img {
    display: block;
    margin: auto;
}




.content-features {
    height: 500px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 90px 116px 90px;
}

.content-features-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-features-feature-icon {
    height: 125px;
    display: inline-block;
}

.content-features-feature-title {
    width: 200px;
    height: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 10px;
}

.content-features-feature-subtitle {
    width: 230px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #2D2D2D;
    opacity: 0.5;
}

.content-user_feedback {
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding: 50px 224.5px 50px 224.5px;
    align-items: center;
}
.content-user_feedback-avatar{
    width: 360px;
}

.content-user_feedback-container{
    width: 420px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2D2D2D;
    position: relative;
}

.content-user_feedback-container-content {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}

.content-user_feedback-container-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.content-user_feedback-container-user_name {
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 0;
}


.footer{
    height: 413px;
    display: flex;
    padding: 70px 80.5px 70px 80.5px;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
}


.footer-contact ul li {
    list-style-type: none;
    display: inline;
    line-height: 32px;
    font-weight: 600;
    font-size: 18px;
    margin:16px;
}

.footer-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 273px;
}

.footer-contact-container-input {
    display: inline-block;
    width: 320px;
    height: 54px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #acb5ae;
    margin-top: 11px;
    margin-right: 12px;
}

.footer-contact-container-send_button {
    width: 116px;
    height: 54px;
    background-color: #3366FF;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    color: White;
}

.footer-contact-container {
    height: 100px;
}

.footer-frame table a {
    text-decoration-line: none;
    color: #2D2D2D;
}

.footer-frame table {
    width: 440px;
    height: 90px;
}

.list_icons {
    display: flex;
    justify-content: flex-end;
}

.content-cta {
    height: 498px;
    padding: 60px 160px 60px 160px;
    background-color: #FCFAF5;
    display: flex;
    justify-content: space-between;
}

.content-cta-frame-button {
    background-color: #F8D57E;
    width: 203px;
    height: 64px;
    text-align: center;
    border-radius: 8px;
    line-height: 54px;
    font-size: 18px;
    font-weight: 400;
}

.content-cta img {
    width: 475px;
    height: 360px;
}

.content-cta-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-cta-frame-title {
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
}

.content-cta-frame-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.5
}